<table mat-table [dataSource]="jobCandidates" class="mat-elevation-z8">
  <ng-container matColumnDef="businessEntityId">
    <th mat-header-cell *matHeaderCellDef> Business Entity Id </th>
    <td mat-cell *matCellDef="let employee"> {{element.businessEntityId}} </td>
  </ng-container>

  <ng-container matColumnDef="resume">
    <th mat-header-cell *matHeaderCellDef> Resume </th>
    <td mat-cell *matCellDef="let employee"> {{element.resume}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
