<mat-accordion class="navigation">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4>Human resources</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLink="humanresources">Human resources</a>
      <a mat-list-item routerLink="humanresources">Human resources</a>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>
