<form [formGroup]="formGroup" (ngSubmit)="onSave()">

  <h1 mat-dialog-title>{{data.dialogTitle}}</h1>
  <div mat-dialog-content>

    <div *ngFor="let c of columnDefinitions">
      <mat-form-field appearance="fill">
        <mat-label>{{c.header}}</mat-label>
        <input matInput [id]="c.key" type="text" [formControlName]="c.key">
      </mat-form-field>
    </div>

  </div>

  <div mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary">Save</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </div>

</form>
