<div class="spinner-wrapper" [hidden]="!isLoading">
  <mat-spinner class="table-view-spinner"></mat-spinner>
</div>

<div class="table-view-container" [hidden]="isLoading">
  <h1>{{tableHeader}}</h1>

  <button mat-raised-button color="primary" (click)="onCreate">Create</button>

  <table mat-table [dataSource]="currentPageItems" class="mat-elevation-z8">
    <ng-container [matColumnDef]="colDef.key" *ngFor="let colDef of columnDefinitions">
      <th class="table-cell" mat-header-cell *matHeaderCellDef> {{colDef.header}} </th>
      <td class="table-cell" mat-cell *matCellDef="let item"> {{item[colDef.key]}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th class="table-cell" mat-header-cell *matHeaderCellDef>  </th>
      <td class="table-cell" mat-cell *matCellDef="let item"> <button mat-raised-button (click)="onRowEdit($event, item)">Edit</button> </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th class="table-cell" mat-header-cell *matHeaderCellDef>  </th>
      <td class="table-cell" mat-cell *matCellDef="let item"> <button mat-raised-button color="warn" (click)="onRowDelete($event, item)">Delete</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClick(row)"></tr>
  </table>

  <mat-paginator [length]="items.length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="onPageChanged($event)">
  </mat-paginator>
</div>
